[mysqld]
# mysqlサーバー側が使用する文字コード
character-set-server=utf8mb4
# テーブルにTimeStamp型のカラムをもつ場合推奨
explicit-defaults-for-timestamp=1
# 実行したクエリの全ての履歴が記録される(defaultではOFFになっているらしい)
general-log=1
# ログの出力先
general-log-file=/var/log/mysql/mysqld.log

# Mysql8.0が caching_sha2_password の認証形式に対応できないので変更
default_authentication_plugin=mysql_native_password

[client]
# mysqlのクライアント側が使用する文字コード
default-character-set=utf8mb4
